# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
.env
poetry.lock
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Database
*.db
*.sqlite3
*.sqlite

# Logs
logs/
*.log

# Git
.git/
.gitignore
.gitmodules

# Docker
docker-compose.override.yml
Dockerfile
docker-compose.yml
