# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Базы данных и логи
*.db
*.sqlite3
*.sqlite
logs/
*.log

# Системные файлы
.DS_Store
Thumbs.db

img.png
img1.png
img2.png

static
